.section-content {
  width: 100%;
  background-image: url(../img/bg2.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


.content {
  display: flex;
  justify-content: space-between;
}

.content__cards {
  width: 69%;
}

.content__cards-title {
  font-family: 'TT Norms';
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 30px;
  padding: 0 0 0 64px;

  position: relative;
}

.content__cards-title::before {
  position: absolute;
  content: '';
  top: 15px;
  left: 0;
  width: 36px;
  height: 1px;
  background-color: #EEEEEE;
}



.content__cards-item {
  width: 100%;
  height: 445px;
  margin: 0 0 20px 0;
  background: #101C2D;
  box-shadow: 0px 12px 44px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
}

.content__cards-img {
  display: block;
  margin-left: -24px;
  margin-top: -16px;
}

.content__cards-left {
  padding: 20px 20px 20px 0;
}

.content__cards-left-title {
  display: flex;
  justify-content: space-between;
}

.content-title-first {
  display: block;
  font-family: 'TT Norms';
  font-size: 14px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);

  padding: 0 0 0 25px;
  margin-bottom: 24px;
  position: relative;
}

.content-title-first::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 3px solid #04BEFE;
  border-radius: 50px;
}

.content-title-second {
  display: block;
  font-family: 'TT Norms';
  font-size: 14px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);

  padding: 0 0 0 25px;
  margin-bottom: 24px;
  position: relative;
}

.content-title-second::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  background-image: url(../img/clock.svg);
  background-size: cover;
  width: 16px;
  height: 16px;
}

.content__cards-left h5 {
  font-family: 'TT Norms';
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.content__cards-left p {
  font-family: 'TT Norms';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  margin-bottom: 10px;
  color: rgba(255, 255, 255, 1);
}

.content__cards-left a {
  text-decoration: none;
  display: block;
  width: 201px;
  height: 43px;
  font-family: 'TT Norms';
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;

  padding: 13px 0 0 0;

  background: linear-gradient(90deg, #4481EB 0%, #04BEFE 100%);
  border-radius: 54px;

  transition: 0.2s;
  filter: opacity(1);

  &:hover {
    box-shadow: 0px 0px 10px 0px #F0EFF4;
  }

  &:active {
    filter: opacity(0.5);
  }
}

.content__stat {
  width: 29%;
}

.content__stat-title {
  font-family: 'TT Norms';
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 30px;
  padding: 0 0 0 64px;

  position: relative;
}

.content__stat-title::before {
  position: absolute;
  content: '';
  top: 15px;
  left: 0;
  width: 36px;
  height: 1px;
  background-color: #EEEEEE;
}

.content__stat-item {
  width: 100%;
  height: 112px;
  background: #101C2D;
  border-radius: 16px;
  display: flex;
  align-items: center;

  margin: 0 0 20px 0;

  list-style: none;
}

.content__stat-item-img {
  width: 150px;
  text-align: center;
}


.content__stat-item-title {
  font-family: 'TT Norms';
  font-size: 18px;
  color: rgba(79, 172, 254, 1);

  margin-top: 20px;
  margin-bottom: 4px;
}


.content__stat-item-text {
  font-family: 'TT Norms';
  font-size: 18px;
  color: #B5B5B5;
  margin-bottom: 17px;
}

.content__stat-item-range {
  width: 90%;
  height: 12px;
  background: #364862;
  border-radius: 18px;
}

.range1 {
  position: relative;
}

.range1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 60%;
  height: 12px;
  background: linear-gradient(90deg, #4FACFE 29.16%, #00F2FE 100%);

  box-shadow: 0px 4px 14px rgba(4, 190, 254, 0.35);
  border-radius: 18px;
}

.range2 {
  position: relative;
}

.range2::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 95%;
  height: 12px;
  background: linear-gradient(90deg, #4FACFE 29.16%, #00F2FE 100%);

  box-shadow: 0px 4px 14px rgba(4, 190, 254, 0.35);
  border-radius: 18px;
}

.range3 {
  position: relative;
}

.range3::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: linear-gradient(90deg, #4FACFE 29.16%, #00F2FE 100%);

  box-shadow: 0px 4px 14px rgba(4, 190, 254, 0.35);
  border-radius: 18px;
}

.shares {
  width: 100%;
  min-height: 358px;
  margin: 0 0 20px 0;
  background: #101C2D;
  box-shadow: 0px 12px 44px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.shares__item {
  list-style: none;
  position: relative;
}

.shares__item::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 10px;
  background-image: url(../img/gift.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 53px;
  height: 53px;
}

.shares p {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #FFFFFF;
  padding: 35px 0 10px 70px;
}
