.footer {
  width: 100%;
  height: 350px;
  background-color: #101C2D;
}

.footer__content {
  display: flex;
}

.footer__nav {
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;

  margin-bottom: 35px;
}

.footer__logo-list {
  list-style: none;
  margin-right: 50px;
}

.footer__nav-list {
  display: flex;
}

.footer__nav-list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.footer__nav-list a {
  text-decoration: none;
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #677588;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
    ;
  }
}

.footer__text {
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #677588;

  width: 600px;

  margin-bottom: 30px;
}

.footer__pay-list {
  display: flex;
}

.footer__pay-list li:first-child {
  list-style: none;
  margin: 0;
}


.footer__pay-list li {
  list-style: none;
  margin: 0 0 0 12px;
}

.footer__pay-visa {
  display: block;
  background-image: url(../img/visa.svg);
  width: 80px;
  height: 41px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__pay-master {
  display: block;
  background-image: url(../img/master.svg);
  width: 80px;
  height: 41px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__pay-webmoney {
  display: block;
  background-image: url(../img/webmoney.svg);
  width: 80px;
  height: 41px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__pay-qiwi {
  display: block;
  background-image: url(../img/qiwi.svg);
  width: 80px;
  height: 41px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__pay-pay {
  display: block;
  background-image: url(../img/pay.svg);
  width: 80px;
  height: 41px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__pay-paypal {
  display: block;
  background-image: url(../img/paypal.svg);
  width: 80px;
  height: 41px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__social-list {
  display: flex;
  margin-bottom: 30px;
}

.footer__social-list li {
  list-style: none;
  margin: 0 0 0 12px;
}

.footer__social-list li:first-child {
  margin: 0;
}


.footer__link-discord {
  display: block;
  background-image: url(../img/discord.svg);
  width: 36px;
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__link-vk {
  display: block;
  background-image: url(../img/vk.svg);
  width: 36px;
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__link-telegram {
  display: block;
  background-image: url(../img/telegram.svg);
  width: 36px;
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__link-youtube {
  display: block;
  background-image: url(../img/youtube.svg);
  width: 36px;
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (max-width: 976px) {

  .footer {
    height: 550px;
  }

  .footer__content {
    display: block;
  }

  .footer__nav {
    display: block;
  }

  .footer__text {
    width: 350px;
  }
}
