.modal__dowload {
  width: 744px;
  height: 472px;
  background-color: rgba(16, 28, 45, 1);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  margin: 0 auto;
}

.modal__dowload-header {
  width: 100%;
  height: 143px;
  background: url(../img/modal-download-header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-between;
}

.modal__dowload-header-left {
  padding: 44px 0 0 28px;
}

.modal__download-title {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
}

.modal__download-subtitle {
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */


  color: #A8A8A8;
}


.modal__dowload-header-right {
  padding: 40px 28px 0 0;
}

.modal__dowload-link {
  text-decoration: none;

  display: block;
  width: 191px;
  height: 47px;

  background: rgba(16, 28, 45, 0.9);
  border-radius: 7px;

  font-family: 'TT Norms';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;

  padding: 14px 23px 14px 51px;

  position: relative;
}

.modal__dowload-link::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 16px;
  left: 20px;
  z-index: 2;
  background-image: url(../img/torrent.svg);
  background-size: cover;
}

.modal__dowload-link-mirror {
  display: block;

  font-family: 'TT Norms';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-decoration-line: underline;
  color: #FFFFFF;
  padding: 0 0 0 33px;
}
